html, body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 80%;
    float: left;
    margin-top: 60px;
    
}

.info{
    width: 100%;
    height: 100%;
    background-color: white;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#tit{
    margin-right: 15px;
    text-align: center;
}

#cont{
    border-left: 1px solid yellow;
    margin-left: 25px;
    text-align: center;
}



